PORT=4000
JWT_SECRET=cambia_este_secreto_en_produccion
JWT_EXPIRES_IN=7d
DB_PATH=./src/db/compushop.db

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=Compushop <noreply@compushop.com>
CONTACT_TO=contacto@compushop.com
